<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menu</title>
        <link rel="stylesheet" href="../menustyle.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" -->
            <!-- integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/blowup/lib/blowup.js"></script>
    <div id="bordernav"> <h3 style="margin-top: -15px; margin-left: 80px; color: white;"> Menu </h3>
    </div> 
    
    <body>
        <div class="home-screen">
            <!-- <button type="button" onclick="refresh()" style="float:right;">Refresh</button> -->
            <!-- <br> -->
            <center>
            <!-- experimenting with navigation bar -->
            <center>
                <!-- experimenting with navigation bar -->
                <center>
                <div id="nav2">
                    <li style="float:left"><a href="api/auth/google/redirect"><h3 style="font-size: 30px; margin-top: 10px;">Login </h3></a></li>
                    <li style="float:left; margin-left: 20px;"><a href="/customerorder.ejs"><h3 style="font-size: 30px; margin-top: 10px;">Order Online</h3></a></li>
                    <li><a href="manager_screen/manager_screen.ejs"><h3 style="font-size: 30px; margin-top: 10px;">Manager</h3></a></li>
                    <li><a href="cashier/"><h3 style="font-size: 30px; margin-top: 10px;">Cashier</h3></a></li>
                    <li><a href="/menu.ejs" class="active"><h3 style="font-size: 30px; margin-top: 10px;">Menu</h3></a></li>
                    <center>
                    <a href="/"><h1 style="margin-left: 400px;"> SWEET PARIS </h1></a>
                    <a href="/"><h2 style="margin-left: 350px;"> ---- creperie & cafe ---- </h2></a>
                </center>
                    
                </div>
                </center>
                <div id="currentuser" style="margin-left: -100px; padding-bottom: 10px;"><center><h2 style="margin-top: 0px;font-size: 20px; color: black;;">Current User: <%= currentUser %> </h2> </center></div>
    

            <br><br><br>
            <div id="google_translate_element">
                <script  style="float: left;" type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script>
                <script  style="float: left;" type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
            <nav>
                <ul>
                    <div id = "sidebar">
                        <a href="/seasonalmenu.ejs" id="seasonal">Seasonal</a>
                        <a href="/breakfastmenu.ejs" id="breakfast" style="font-style: italic;text-decoration: underline;"> Breakfast Crepes </a>
                        <a href="/sweetmenu.ejs" id="sweet"> Sweet Crepes </a>
                        <a href="/savorymenu.ejs" id="savory"> Savory Crepes </a>
                        <a href="/drinksmenu.ejs" id="drinks"> Drinks </a>
                    </div>
                </ul>
            </nav>

            <div id="border">
                <h4> BREAKFAST CREPES </h4>
                <div class="row">
                    <% for (var i in breakfast) {%>
                    <div class="column">
                        <center>
                            <img id="foodimg" src="<%=breakfast[i].food_name%>.png" onerror="this.onerror=null; this.src='defaultimg.png';">
                            <br><br><br>
                            <h5> <center> <%=breakfast[i].food_name%> </center> </h5>
                            <center>
                            <h6> <center> <%=breakfast[i].description%> </center> </h6>
                            <br>
                            <h6 style="font-size: 25px; color: rgb(204, 255, 251);"> <center>$<%=breakfast[i].price_food%> </center> </h5>
                            </center>
                            </center>
                    </div>
                    <% } %>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $("img").blowup({
                        "scale": 2
                    });
                })
            </script>
        
            <script src="index.js"></script>
        </body>
    </html>
