<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manager View</title>
    <link rel="stylesheet" href="../landing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
        
</head>

<body>
    <!-- <div class="managing-screen">
        <center>
            <div class="managing-buttons">
                <h1>Change Ingredients</h1>
                <div class="option-buttons">
                    <center>
                    <a href="ingred_add/ingred_add.ejs"><h2 style="font-size: 20px; margin-top: 10px;">Add Ingredient</h2></a>
                    </center>
                </div>
                <div class="option-buttons">
                    <center>
                    <a href="ingred_delete/ingred_delete.ejs"><h2 style="font-size: 20px; margin-top: 10px;">Delete Ingredient</h2></a> 
                    </center>
                </div>
                <div class="option-buttons">
                    <center>   
                    <a href="ingred_mod_name/ingred_mod_name.ejs"><h2 style="font-size: 20px; margin-top: 10px;">Change Name</h2></a>  
                    </center>
                </div>
            </div>
        </center>
    </div> -->
    <a href="manager_screen.ejs" class="btn btn-lg">Back</a>
    
    <br></br>

    <div class="inventory-container mx-5">
        <center>
        <table class="table">
            
            <tr>
                <th>
                    <div class="container">
                        <h2>Inventory</h2>
                        <table class="table table-bordered border border-5"> 
                            <tr class="border border-5">
                                <th class="border border-5 bg bg-info-subtle">Item</th>
                                <th class="border border-5 bg bg-info-subtle">Quantity</th>
                            </tr>
                            <% for (var i in inventory) {%>
                                <tr class="border border-5">
                                    <th class="border border-5"><%=inventory[i].ingred_name%></th>
                                    <th class="border border-5"><%=inventory[i].quantity%></th>
                                </tr>
                            <% } %>
                    </table>
                    </div>
                </th>
    
                <th>
                    <div class="inventory-management" style="float: right" >

                    <div class="modify-ingredient-add-screen border border-5 d-block p-5 bg-info-subtle">
                        <center>
                        <h2>Add Ingredient</h2><br>
                        <form method="post" action="/manager_screen/ingred_add">
                        <label for="IngredName">Enter the ingredient name:</label><br>
                        <input type="text" id="IngredName" name="IngredName"><br>
                    
                        <label for="quantity">Enter the quantity:</label><br>
                        <input type="number" id="quantity" name="quantity"><br>
                
                        <label for="price">Enter the price:</label><br>
                        <input type="number" id="price" name="price"><br>
                
                        <label for="startDate">Enter the day it was bought:</label><br>
                        <input type="date" id="startDate" name="startDate"><br>
                
                        <label for="endDate">Enter the day it goes bad:</label><br>
                        <input type="date" id="endDate" name="endDate"><br>
                    
                        <p>Choose Storage Method:</p>
                            <input type="radio" id="fridge" name="storageMethod" value="fridge">
                            <label for="fridge">Fridge</label><br>
                    
                            <input type="radio" id="pantry" name="storageMethod" value="pantry">
                            <label for="pantry">Pantry</label><br><br>
                    
                        <input type="submit" value="Submit">
                        </form>
                    </center>
                    </div>
    
                    <br></br>
                
                    <div class="modify-ingredient-name-screen border border-5 d-block p-5 bg-info-subtle">
                        <center>
                        <h2>Change Name of Ingredient</h2>
                        <form method="post" action="/manager_screen/ingred_mod_name">
                            <select class="select" name="ItemName" id="ItemName">
                                <option value="" selected disabled>Please select item name</option>
                                <% for (var i in inventory) {%>
                                    <option value="<%=inventory[i].ingred_name%>" ><%=inventory[i].ingred_name%></option>
                                <% } %>
                            </select>
                            <br><br>
                
                        <label for="NewItemName">Enter the new item name:</label><br>
                        <input type="text" id="NewItemName" name="NewItemName"><br><br>
                
                        <input type="submit" value="Submit">
                        </form>
                    </center>
                    </div>
    
                    <br></br>
                
                    <div class="modify-menu-delete-screen border border-5 d-block p-5 bg-info-subtle">
                        <center>
                        <h2>Delete Ingredient</h2>
                        <form method="post" action="/manager_screen/ingred_delete">
                            <select class="select" name="IngredientName" id="IngredientName">
                                <option value="" selected disabled>Please select ingredient name</option>
                                <% for (var i in inventory) {%>
                                    <option value="<%=inventory[i].ingred_name%>" ><%=inventory[i].ingred_name%></option>
                                <% } %>
                            </select>
                            <br><br>
                
                        <input type="submit" value="Submit">
                        </form>
                        </center>
                    </div>
                </div>
    
                </th>
            </tr>
        
        </table>
    </center>
    </div>

    


    <!-- <div class="container">
        <h2>Inventory</h2>
        <table class="table table-bordered border border-5"> 
            <tr class="border border-5">
                <th class="border border-5 bg bg-info-subtle">Item</th>
                <th class="border border-5 bg bg-info-subtle">Quantity</th>
            </tr>
            <% for (var i in inventory) {%>
                <tr class="border border-5">
                    <th class="border border-5"><%=inventory[i].ingred_name%></th>
                    <th class="border border-5"><%=inventory[i].quantity%></th>
                </tr>
            <% } %>
    </table>
    </div> -->

    <!-- <div class="modify-ingredient-add-screen">
        <h1>Add Ingredient</h1>
        <form method="post" action="/manager_screen/ingred_add">
          <label for="IngredName">Enter the ingredient name:</label><br>
          <input type="text" id="IngredName" name="IngredName"><br>
    
          <label for="quantity">Enter the quantity:</label><br>
          <input type="number" id="quantity" name="quantity"><br>

          <label for="price">Enter the price:</label><br>
          <input type="number" id="price" name="price"><br>

          <label for="startDate">Enter the day it was bought:</label><br>
          <input type="date" id="startDate" name="startDate"><br>

          <label for="endDate">Enter the day it goes bad:</label><br>
          <input type="date" id="endDate" name="endDate"><br>
    
          <p>Choose Storage Method:</p>
            <input type="radio" id="fridge" name="storageMethod" value="fridge">
            <label for="fridge">Fridge</label><br>
    
            <input type="radio" id="pantry" name="storageMethod" value="pantry">
            <label for="pantry">Pantry</label><br><br>
    
          <input type="submit" value="Submit">
        </form>
    </div>

    <div class="modify-ingredient-name-screen">
        <h1>Change Name of Ingredient</h1>
        <form method="post" action="/manager_screen/ingred_mod_name">
            <select class="select" name="ItemName" id="ItemName">
                <option value="" selected disabled>Please select item name</option>
                <% for (var i in inventory) {%>
                    <option value="<%=inventory[i].ingred_name%>" ><%=inventory[i].ingred_name%></option>
                <% } %>
            </select>
            <br><br>

        <label for="NewItemName">Enter the new item name:</label><br>
        <input type="text" id="NewItemName" name="NewItemName"><br><br>

        <input type="submit" value="Submit">
        </form>
    </div>

    <div class="modify-menu-delete-screen">
        <h1>Delete Ingredient</h1>
        <form method="post" action="/manager_screen/ingred_delete">
            <select class="select" name="IngredientName" id="IngredientName">
                <option value="" selected disabled>Please select ingredient name</option>
                <% for (var i in inventory) {%>
                    <option value="<%=inventory[i].ingred_name%>" ><%=inventory[i].ingred_name%></option>
                <% } %>
            </select>
            <br><br>
        

        <input type="submit" value="Submit">
        </form>
    </div> -->
    <script src="manager.js"></script>
</body>

</html>