<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manager View</title>
        <link rel="stylesheet" href="../manager_screen.css">
        <link rel="stylesheet" href="../manager.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
    </head>
    
    <body>
        <a href="/cashier/" class="btn btn-lg border border-1 border border-dark">Place Order</a>
        <div class ="order-container mx-5" style="float: left">
            <table class="table">
                <tr>
                    <th>
                        <div class="container">
                            <h2>Orders</h2>
                            <table class = "table table-bordered border border-5">
                                <tr class="border border-5">
                                    <th class="border border-5 bg bg-info-subtle"> </th>
                                    <th class="border border-5 bg bg-info-subtle">Order</th>
                                    <th class="border border-5 bg bg-info-subtle">Price</th>
                                    <th class="border border-5 bg bg-info-subtle">Date</th>
                                    <th class="border border-5 bg bg-info-subtle">Time</th>
                                    <th class="border border-5 bg bg-info-subtle">Cashier ID</th>
                                    <th class="border border-5 bg bg-info-subtle">Status</th>
                                </tr>
                                
                                <% for (var i in result) {%>
                                    <tr class="border border-5">
                                        <th class="border border-5"><%=result[i].row_num%></th>
                                        <th class="border border-5"><%=result[i].order_items%></th>
                                        <th class="border border-5"><p>$<%=result[i].total_order_price%></p></th>
                                        <% const orderDate = result[i].order_date; %> 
                                        <% const orderDateObj = new Date(orderDate); %>
                                        <% const formatted = orderDateObj.toISOString().split('T')[0]; %>
                                        <th class="border border-5"><%=formatted%></th>
                                        <th class="border border-5"><%=result[i].order_time%></th>
                                        <th class="border border-5"><%=result[i].cashier_id%></th>
                                        <th class="border border-5"><%=result[i].status%></th>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    </th>
                    <th>
                        <div class="order-management" style="float: right" >

                        <div class="modify-status-screen border border-5 d-block p-5 bg-info-subtle">
                            <center>
                            <h2>Modify Status</h2><br>
                            <form method="post" action="/cashier/order_mod_status">  
                                <label for="orderdate">Enter the order date:</label><br>
                                <input type="date" id="orderdate" name="orderdate"><br><br>
                    
                                <label for="ordertime">Enter the order time:</label><br>
                                <input type="text" id="ordertime" name="ordertime"><br><br>

                                <select class="select" name="ordercashier" id="ordercashier">
                                    <option value="" selected disabled>Please select the order cashier ID</option>
                                    <% for(var i = 1 ; i<= 10; i++){ %>
                                        <option value="<%=i%>"><%=i%></option>
                                    <% } %>
                                </select><br><br>

                                <select class="select" name="orderstatus" id="orderstatus">
                                    <option value="" selected disabled>Please select new status</option>
                                    <option value="pending">pending</option>
                                    <option value="completed">completed</option>
                                    <option value="cancelled">cancelled</option>
                                </select><br><br>

                                <button type="submit">Submit</button>
                            </form>
                            </center>
                        </div>

                        <br></br>

                        <div class="modify-status-screen border border-5 d-block p-5 bg-info-subtle">
                            <center>
                            <h2>Delete Order</h2><br>
                            <form method="post" action="/cashier/order_delete">  
                                <label for="orderdate">Enter the order date:</label><br>
                                <input type="date" id="orderdate" name="orderdate"><br><br>
                    
                                <label for="ordertime">Enter the order time:</label><br>
                                <input type="text" id="ordertime" name="ordertime"><br><br>

                                <select class="select" name="ordercashier" id="ordercashier">
                                    <option value="" selected disabled>Please select the order cashier ID</option>
                                    <% for(var i = 1 ; i<= 10; i++){ %>
                                        <option value="<%=i%>"><%=i%></option>
                                    <% } %>
                                </select><br><br>

                                <button type="submit">Delete</button>
                            </form>
                            </center>
                        </div>

                        <!-- <div class="report-together-screen border border-5 d-block p-5 bg-info-subtle">
                            <center>
                            <h2>Items Frequently Ordered Together</h2>
                            <form method="post" action="/manager_screen/report_together">   
                                <label for="startDate">Enter the start date range:</label><br>
                                <input type="date" id="startDate" name="startDate"><br>
                    
                                <label for="endDate">Enter the end date range:</label><br>
                                <input type="date" id="endDate" name="endDate"><br><br>

                                <button type="submit">Ordered Together Report</button>
                            </form>
                            </center>
                        </div>

                        <br></br>
                        
                        <div class="report-restock-screen border border-5 d-block p-5 bg-info-subtle">
                            <center>
                            <h2>Product Sales Report</h2><br>
                            <form method="post" action="/manager_screen/report_product_sales">   
                                <label for="startDate">Enter the start date range:</label><br>
                                <input type="date" id="startDate" name="startDate"><br>
                    
                                <label for="endDate">Enter the end date range:</label><br>
                                <input type="date" id="endDate" name="endDate"><br><br>

                                <button type="submit">Product Sales Report</button>
                            </form>
                            </center>
                        </div> -->
                    </th>
                </tr>
            </table>
       </div>
        <script src="manager.js"></script>
    </body>
</html>