<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manager View</title>
        <link rel="stylesheet" href="../landing.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bodoni Moda' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bacasime Antique' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fuzzy Bubbles' rel='stylesheet'>
    </head>
    <body style="background-color: rgb(194, 78, 78);">
        <div class="report-menu-sales-screen">
            <a href="main_reports.ejs" class="btn btn-info">Back</a>
            <table style="background-color: rgb(197, 197, 197);" class="table">
            <tr>
                <th>
                <div style="background-color: rgb(197, 197, 197);" class="container">
                    <h1><center>Sales Report</h1>
                    <h6>Displaying sales by each item from the given timeframe</center></h6>
                    <div style="background-color: grey;"class="modify-ingredient-add-screen border border-5 d-block p-5 bg-info-subtle">
                        <%if (result && result.length > 0) { %>
                            <% let minimum_item = "" %>
                            <% let maximum_item = "" %>
                            <%let maxItemTotal = Number.MIN_VALUE; %>
                            <% let minItemTotal = Number.MAX_VALUE; %>
                        
        
                            <% result.forEach(row => { %>
                                <% maxItemTotal = Math.max(maxItemTotal, row.item_total); %>
                                <% if (maxItemTotal == row.item_total) { %>
                                    <% maximum_item = row.order_item %>
                                <% } %>
                            <% }); %>
        
                            <% result.forEach(row => { %>
                                <% minItemTotal = Math.min(minItemTotal, row.item_total); %>
                                <% if (minItemTotal == row.item_total) { %>
                                    <% minimum_item = row.order_item %>
                                <% } %>
                            <% }); %>
                        
                            
                            <center>   
                                <h6>Maximum Item "<%=maximum_item %>"</h6> 
                                    <p>Total: $<%= maxItemTotal %></p>
                                    <p></p>
                                <h6>Minimum Item "<%=minimum_item %>"</h6> 
                                    <p>Total: $<%= minItemTotal %></p>
                            </center> 
                            
        
                        <% } else {%>
                                <p>No results found.</p>
                        <% } %>
                    </div>
                    <table class="table table-bordered border border-5"> 
                        <tr class="border border-5">
                            <th class="border border-5 bg bg-info-subtle">Item Sold</th>
                            <th class="border border-5 bg bg-info-subtle">Total Income</th>
                        </tr>
                        <% if (result && result.length > 0) { %>
                            <% result.forEach(row => { %>
                                <tr class="border border-5">
                                    <th class="border border-5"><%= row.order_item %></th>
                                    <th class="border border-5"><p>$<%=row.item_total%></p></th>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <p>No results found.</p>
                        <% } %>
                    </table>
                    </div>
                    </th>
                    <th>

        
                        

                    
                </div>
            </th>
            </tr>
            </table>
        </div>
    </body>
   
    <script src="report_sales.js"></script>

</html>